<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
    <h1>Hola <%= hello%>
    </h1>
    <ul>
        <%users.forEach(user=> {%>
            <li>
                <%= user %>
            </li>
            <%})%>
    </ul>
    <%- include('includes/end.ejs') %>